h1{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: darkcyan;  
}
h2{
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
}
i{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   color: lightseagreen;
}
h3{
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: darkslategray;
}
